html {
    color: white;
    height: 100vh;
    min-height: 100vh
    
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-width: 1800px;
    margin: auto;
    padding: 0px;
}

body.noScroll {
    overflow: hidden;
  }

main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vh;
    background-image: url("Black-white-chalkboard.jpg");
    background-size: fill;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.quiz-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding: 10%;
}

nav {
    font-size: 6vh;
    text-align: center;
    font-style: oblique; 
    display: flex;
    justify-content: center;
}

div {
    margin: 0px;
    padding: 0px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    margin: auto;
    background-color: white;
}

h4 {
    padding: 0px;
    margin: 5px;
    border: 1px solid black;
}

.incorrect-num {
    color: red;
    margin-left: 80px;
}

.correct-num {
    color: green;
    margin-right: 80px;
}

button:disabled  {
    color: black;
}


